theme = catppuccin-mocha
background = #000000
background-opacity = 0.6
background-blur-radius = 80

font-family = JetBrains Mono NL Light
font-size = 22
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor 

macos-titlebar-style = hidden

confirm-close-surface = false
window-decoration = true
window-padding-x = 10
window-padding-y = 10
window-padding-balance = true

auto-update = check

adjust-cell-width = -10%
adjust-cell-height = -10%
term = "xterm-256color"
