theme = rose-pine
background = #000000
background-opacity = 0.6
background-blur-radius = 80

selection-invert-fg-bg = true
cursor-invert-fg-bg = true

font-family = JetBrains Mono NL Bold
font-size = 22
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor 

confirm-close-surface = false
window-decoration = true
window-vsync = true

bold-is-bright = true

auto-update = download

adjust-cell-width = -5%
adjust-cell-height = -15%

macos-titlebar-style = "hidden"
